.recoveryForm {
  display: grid;
  width: 622px;
  height: 53.41796875vh;
  border: solid 1px #dcdce7;
  background-color: #ffffff;
  margin-top: 5.37109vh;
  margin-left: 30.40277777778vw;
  padding-top: 5.46875vh;
  padding-bottom: 5.46875vh;
  text-align: center;
  border-radius: 1vh;
}

.recoveryFormTitle {
  flex-grow: 0;
  font-family: "Poppins";
  font-stretch: normal;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.recoveryFormSubtitle {
  width: 33.2vw;
  height: 2.73437vh;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: center;
  color: #41b48b;
  margin-top: 7.470651vh;
}

.recoveryFormSubtitle2 {
  position: relative;
  height: 2.34375vh;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  bottom: 8.53788vh;
  margin-left: 80px;
}

.buttonContainer {
  position: relative;
  display: flex;
  gap: 16px;
  bottom: 16.53788vh;
  justify-content: center;
}

.email {
  border-style: solid;
  width: 220px;
  height: 8.203125vh;
}

.phone {
  border-style: solid;
  width: 220px;
  height: 8.203125vh;
}
