.form {
  width: 622px;
  height: 728px;
  border: solid 1px #dcdce7;
  background-color: #ffffff;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 100px;
  padding-top: 56px;
  padding-bottom: 56px;
  text-align: center;
  border-radius: 6px;
}

.formTitle {
  flex-grow: 0;
  font-family: "Poppins";
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 0px;
}

.userName1 {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
.nameField {
  width: 456px;
  height: 56px;
  padding: 0 0 0 16px;
  border-radius: 6px;
  border: solid 1px #dcdce7;
  background-color: white;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: black;
  outline: none;
}

.lastName {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.Your-birthday {
  width: 112px;
  height: 24px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 6px;
  margin-left: 76px;
}

.datePicker {
  display: flex;
  justify-content: center;
  gap: 16px;
}

#defaultMonth {
  width: 220px;
  height: 58px;
  padding: 0 0 0 16px;
  border-radius: 6px;
  border: solid 1px #dcdce7;
  background-color: white;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8692a6;
  outline: none;
}

#month {
  width: 220px;
  height: 58px;
  padding: 0 0 0 16px;
  border-radius: 6px;
  border: solid 1px #dcdce7;
  background-color: white;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: black;
  outline: none;
}

#year {
  width: 220px;
  height: 56px;
  padding: 0 0 0 16px;
  border-radius: 6px;
  border: solid 1px #dcdce7;
  background-color: white;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: black;
  outline: none;
}

::placeholder {
  color: #8692a6;
}

.optionclasses {
  color: black;
}

.note1 {
  display: flex;
  align-items: flex-start;
  width: 456px;
  height: 67px;
  padding: 0 0 0 16px;
  border-radius: 6px;
  background-color: #e2f4ff;
  border-radius: 6px;
}

.image {
  margin-top: 16px;
  margin-right: 0.83333335vw;
}

.imageDiscription {
  width: 26.875vw;
  height: 3.7109375vh;
  font-family: "OpenSans";
  font-size: 0.9vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #45536c;
}

.recaptcha {
  transform: scale(0.964, 1);
  transform-origin: left top;
  -webkit-transform-origin: left top;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
}

.pre {
  width: 69px;
  height: 20px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: right;
  color: #1565d8;
  cursor: pointer;
}

.next {
  width: 15.277777777777777vw;
  height: 6.25vh;
  flex-grow: 0;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  background-color: #1b73d1;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.terms {
  display: flex;
  justify-content: flex-start;
  width: 32vw;
  height: 1.7578125vh;
  flex-grow: 0;
  margin: 16px 5px 0 0;
  font-family: "OpenSans";
  font-size: 1.05vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1b1616;
}
