@import "../../css/variables.scss";

.client_container {
  .datePicker {
    display: flex;
    justify-content: center;
  }

  .select-months {
    padding-left: 11px !important;
    appearance: none;
    background: rgba(255, 255, 255, 1) url(../../images/ic-dropdown.png)
      no-repeat scroll calc(100% - 16px) center/12px auto;
  }

  .note {
    display: flex;
    align-items: flex-start;
    padding: 16px;
    background-color: #e2f4ff;
    border-radius: 6px;
  }

  .normal_text {
    font-size: 18px;
    line-height: 1.56;
    color: $text_color;
    text-align: center;
  }

  .image_description {
    font-family: "Open Sans";
    font-size: 14px;
    color: #45536c;
  }

  .buttons_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .pre {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    color: #1565d8;
    cursor: pointer;
  }

  .next {
    width: 220px;
    height: 64px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    background-color: $primary_color;
    color: $primary_color_visa;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  .next:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  .terms {
    width: 457px;
    font-family: "Open Sans";
    font-size: 13px;
    color: $text_bold_color;
  }

  u {
    font-family: "Open Sans";
    font-size: 13px;
    color: $primary_color;
    font-weight: 600;
  }

  .first_name {
    margin-bottom: 1rem;
  }

  @media only screen and (max-width: 767px) {
    .name_container {
      display: flex;

      .first_name {
        margin-right: 1rem;
        margin-bottom: 0;
      }
    }

    .normal_text {
      text-align: left;
      font-size: 14px;
      margin-bottom: 20px !important;
      margin-top: 4px !important;
    }

    .pre {
      font-size: 14px !important;
    }

    .note {
      padding-right: 3px;
    }

    .image_description {
      font-size: 12px;
      height: 32px;
      font-weight: 400;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
    }
    .buttons_container {
      margin-bottom: 0.625rem !important;
    }
    .terms {
      width: auto;
      text-align: center;
    }
    u {
      text-decoration: underline;
    }

    .next {
      width: 205px;
      height: 56px;
    }

    .mr-3 {
      margin-top: 3px;
      margin-right: 8px;
    }
  }
}
