@import "../../css/variables.scss";

.title {
  width: 100% !important;
  font-family: "Poppins";
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.sub_title {
  width: 354px;
  font-family: "open sans";
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $text_bold_color;
}

.block_img {
  width: 641px;
  height: 236px;
}

@media only screen and (max-width: 767px) {
  .block_img {
    width: 400px;
    height: 140px;
  }
  .title {
    width: 336px;
    font-size: 20px;
  }

  .sub_title {
    font-family: "Poppins";
    font-size: 14px;
    width: 295px;
    font-weight: 400;
  }
}
