.content {
  width: 43.194444444444vw;
  height: 56.93359vh;
  border: solid 1px #dcdce7;
  background-color: #ffffff;
  margin-top: 12.20703125vh;
  margin-left: 28.40277777778vw;
  padding-top: 5.46875vh;
  padding-bottom: 5.46875vh;
  text-align: center;
  border-radius: 1vh;
}

.formTitle {
  flex-grow: 0;
  font-family: "Poppins";
  text-shadow: 0px 0px, 1px 0px, 0px 0px;
  font-stretch: normal;
  font-weight: bolder;
  color: #1b1616;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.normalText {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #45536c;
}

.userName {
  display: flex;
  justify-content: center;
  margin-top: 3.125vh;
}
.userField {
  width: 31.66666666666vw;
  height: 5.46875vh;
  padding: 0 0 0 16px;
  border-radius: 6px;
  border: solid 1px #dcdce7;
  background-color: white;
  border-radius: 0.5vh;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8692a6;
  outline: none;
}

.domain {
  width: 8.333333333333vw;
  margin-left: -8.39vw;
  border: solid 1px #dcdce7;
  background-color: #f2faff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  position: relative;
  border-top-right-radius: 0.5vh;
  border-bottom-right-radius: 0.5vh;
  outline: none;
  bottom: 14px;
  font-size: 14px;
  height: 3.7vh;
  padding-top: 16px;
}

.note {
  height: 1.7578125vh;
  flex-grow: 0;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #45536c;
  margin-top: -2vh;
  margin-left: 5.3978888888888888888888888888889vw;
  margin-bottom: 2.44140625vh;
  text-align: left;
}

.passwordField {
  width: 31.66666666666vw;
  height: 5.46875vh;
  padding: 0 0 0 16px;
  border-radius: 6px;
  border: solid 1px #dcdce7;
  background-color: white;
  border-radius: 0.5vh;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8692a6;
  outline: none;
  margin-bottom: 20px;
}

.confirmPasswordField {
  width: 31.66666666666vw;
  height: 5.46875vh;
  padding: 0 0 0 16px;
  border-radius: 6px;
  border: solid 1px #dcdce7;
  background-color: white;
  border-radius: 0.5vh;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8692a6;
  outline: none;
}
.show {
  margin-left: -38px;
  position: relative;
  right: 24px;
  width: 37px;
  height: 19px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1565d8;
  cursor: pointer;
  border: none;
  background-color: white;
}

.nextBtn {
  width: 31.66666666666vw;
  height: 64px;
  flex-grow: 0;
  margin: 0 0 8px;
  padding: 20px 209px 20px 211px;
  border-radius: 6px;
  background-color: #1b73d1;
}
