@import "../../css/variables.scss";

.verification_container {
  .container {
    height: 80px;
    margin-bottom: 15px;
  }

  .subtitle {
    font-size: 18px;
    font-weight: 500 !important;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }

  .character {
    line-height: 79.9px;
    font-size: 25px;
    font-family: "poppins";
    color: $text_bold_color;
    border: solid 1px #dcdce7;
    font-weight: 500;
    border-radius: 6px;
    margin-left: 14px;
    cursor: pointer;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .timer {
    font-size: 16px;
    font-weight: 500;
    margin-top: 1px;
  }

  // .character:first-child {
  //   margin-left: 0;
  //   border: 1px solid #445da7;
  // }
  .character--selected {
    border: 1px solid #445da7;
  }

  .character--selected::after {
    content: "|";
    font-weight: 400;
    animation: blinker 1.5s linear infinite;
  }

  .character:hover {
    border: 1px solid #445da7;
  }

  .character:not(:empty) {
    border: 1px solid #445da7;
  }

  .character:not(:empty)::after {
    content: "";
  }

  .character--selected:not(:empty)::after {
    content: "";
  }

  .errorCharacter {
    line-height: 79.9px;
    font-size: 25px;
    font-family: "poppins";
    color: $text_bold_color;
    border: solid 1px #dcdce7;
    font-weight: bold;
    border-radius: 6px;
    margin-left: 14px;
  }

  .errorCharacter:first-child {
    margin-left: 0;
  }

  .errorCharacter:not(:empty) {
    border: 1px solid rgba(235, 18, 18, 0.84);
  }

  .info {
    font-size: 16px !important;
    font-family: "open sans" !important;
  }

  .action {
    font-size: 16px !important;
    color: #1565d8 !important;
    font-weight: 500 !important;
    cursor: pointer;
  }

  .pre {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    color: #1565d8;
    cursor: pointer;
  }

  .verify {
    width: 220px;
    height: 64px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    background-color: $primary_color;
    color: $primary_color_visa;
    border-radius: 6px;
    cursor: pointer;
  }

  .verify:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  ::placeholder {
    color: #8692a6;
    font-weight: 400;
  }

  .recovery_input:focus {
    border: solid 1px #445da7;
  }

  .error {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(235, 18, 18, 0.84);
  }

  @media only screen and (max-width: 767px) {
    .form_wrapper {
      width: 100% !important;
    }

    .error {
      font-size: 12px;
    }

    .subtitle {
      text-align: left;
      font-size: 20px;
      font-weight: 500 !important;
      margin-bottom: 24px !important;
    }

    .container {
      height: 56px;
    }

    .character {
      cursor: pointer;
      line-height: 56px;
      font-size: 16px;
      margin-left: 8px;
    }

    .errorCharacter {
      cursor: pointer;
      line-height: 56px;
      font-size: 16px;
      margin-left: 8px;
    }

    .flex {
      margin-top: 21px !important;
    }

    .info {
      font-size: 14px !important;
    }

    .action {
      font-size: 14px !important;
    }

    .pre {
      font-size: 14px;
    }

    .verify {
      width: 143px;
      height: 56px;
    }

    .timer {
      font-size: 14px;
    }
  }
}
