.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.leftSide {
  margin: 49px 0 0 0;
}

.logo1 {
  width: 140px;
  height: 46px;
  margin-left: 56px;
}

.rightSide {
  display: flex;
  align-items: center;
  margin-right: 56px;
}

.rightText {
  height: 28px;
  flex-grow: 0;
  margin: 58px 16px 0 0;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: right;
  color: #45536c;
}

.signInBtn {
  width: 9.125vw;
  height: 48px;
  margin-top: 48px;
  border-radius: 6px;
  background-color: white;
  border: solid 1px #1b73d1;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #1b73d1;
  text-align: center;
  cursor: pointer;
}
:hover.signInBtn {
  background-color: #1b73d1;
  color: white;
}

@media only screen and (min-width: 1441px) {
}

@media only screen and (max-width: 768px) {
  .header {
    gap: 240px;
  }
  .logo1 {
    width: 32.5px;
    height: 32px;
    margin-top: 0px !important;
    margin-top: 24px;
    margin-left: 20px;
  }

  .rightText {
    font-size: 14px;
    display: none;
  }
  .signInBtn {
    width: 84px;
    height: 20px;
    font-size: 14px;
    margin-top: 37.5px;
    border: none;
  }
  :hover.signInBtn {
    background-color: white;
    color: #1b73d1;
  }
}
