.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.leftSide {
  margin: 4.78515625vh 0 0 3.9vw;
}

.logo1 {
  width: 9.722222222vw;
  height: 46px;
}

.rightSide {
  display: flex;
}

.rightText {
  height: 2.73437vh;
  flex-grow: 0;
  margin: 5.6640625vh 1.11111111111111vw 0 0;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: right;
  color: #45536c;
}

.signInBtn {
  width: 9.125vw;
  height: 4.6875vh;
  margin-right: 3.889vw;
  margin-top: 4.9875vh;
  border-radius: 0.416667vw;
  background-color: white;
  border: solid 1px #1b73d1;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #1565d8;
  text-align: center;
  cursor: pointer;
}
:hover.signInBtn {
  background-color: #1b73d1;
  color: white;
}

@media only screen and (min-width: 1441px) {
}

@media only screen and (max-width: 768px) {
  .logo1 {
    width: 32.5px;
    height: 32px;
    margin-left: 20px;
  }

  .rightText {
    font-size: 14px;
    display: none;
  }
  .signInBtn {
    width: 84px;
    height: 20px;
    font-size: 14px;
    margin-top: 47.5px;
    border: none;
  }
  :hover.signInBtn {
    background-color: white;
    color: #1b73d1;
  }
}
