@import "../../css/variables.scss";
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}
.header_container {
  display: flex;
  justify-content: space-between;

  .mykloud_logo {
    width: 150px;
    height: 54px;
    background-image: url(../../images/myKloud_logo.png);
    background-repeat: no-repeat;
    background-size: 150px;
    cursor: pointer;
  }

  .right_side {
    display: flex;
    align-items: center;
  }

  .right_text {
    font-size: 16px;
    line-height: 1.75;
    color: $text_color;
  }

  .signin_btn {
    width: 120px;
    height: 48px;
    border-radius: 6px;
    background-color: $primary_color_visa;
    border: solid 1px $primary_color;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.75;
    color: #1565d8;
    text-align: center;
    cursor: pointer;
  }
  :hover.signin_btn {
    background-color: rgba(100, 159, 219, 0.1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  @media only screen and (max-width: 767px) {
    .mykloud_logo {
      background-image: url(../../images/app-logo.png);
      background-size: 32px;
      width: 32.5px;
      height: 32px;
    }

    .signin_btn {
      width: 48px !important;
      height: 20px;
    }
    .right_text {
      display: none;
    }

    .signin_btn {
      appearance: none !important;
      width: 84px;
      font-size: 14px;
      border: none;
      text-align: right !important;
    }
    .signin_btn:hover {
      background-color: white !important;
      color: #1565d8 !important;
      box-shadow: none !important;
    }
  }
}
