@import "./variables.scss";

body {
  background-image: url("../images/back.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  color: $text_color;
  font-family: "Poppins";
  font-size: 18px;
  line-height: 1.56;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

::placeholder,
.placeholder {
  color: $placeholder !important;
}

.form_container {
  display: flex;
  min-height: 100vh;

  .form_wrapper {
    width: 622px;
    background-color: #ffffff;
    margin: auto;
    padding: 4rem;

    border: solid 1px #dcdce7;
    border-radius: 6px;
  }

  .form_title {
    color: $text_bold_color;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }

  .form_field {
    width: 100%;
    height: 56px;
    padding: 0 16px;
    border-radius: 6px;
    border: solid 1px #dcdce7;
    background-color: white;
    font-family: "Open Sans";
    font-size: 14px;
    color: $text_bold_color;
    outline: none;

    &:focus {
      border: solid 1px #445da7;
    }
  }
}
