@import "./variables.scss";

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1240px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 767px) {
  .app {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  body {
    background-image: linear-gradient(
      to bottom,
      #ffffff,
      rgba(235, 247, 255, 0.7)
    );
    background-size: auto;
  }

  .form_container {
    height: 100%;
    display: block !important;
    // min-height: 82vh !important;

    .form_wrapper {
      width: 100%;
      background-color: transparent;
      margin: auto;
      padding: 0;
      border: 0 none;
    }

    .input_wrapper {
      padding: 0;
    }

    .form_sub_title {
      height: 21px;
    }

    .form_title {
      text-align: left;
      font-size: 20px;
      height: 30px;
    }

    .form_field {
      font-family: "Open Sans" !important;
      font-size: 14px !important;
      font-weight: 500 !important;
      padding-top: 14px !important;
    }
    &:focus-within .form_label {
      transform: translate(0, 9px) scale(0.8) !important;
      color: $placeholder;
    }

    .filled {
      transform: translate(0, 9px) scale(0.8) !important;
    }
  }
}

/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 2/3) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375/667) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="url"] {
    font-size: 16px;
  }
}

@media only screen and (max-width: 500px) {
}

@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 344px) {
  .form_sub_title {
    height: auto !important;
  }

  .form_title {
    height: auto !important;
  }
}
