.registerForm {
  width: 43.194444444444vw;
  height: 56.93359vh;
  border: solid 1px #dcdce7;
  background-color: #ffffff;
  margin-top: 12.20703125vh;
  margin-left: 28.40277777778vw;
  padding-top: 5.46875vh;
  padding-bottom: 5.46875vh;
  text-align: center;
  border-radius: 6px;
}

.registerFormTitle {
  flex-grow: 0;
  font-family: "Poppins";
  text-shadow: 0px 0px, 1px 0px, 0px 0px;
  font-stretch: normal;
  font-weight: bolder;
  color: #1b1616;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.normalText {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #45536c;
}

.userName {
  display: flex;
  justify-content: center;
  margin-top: 3.125vh;
}
.userField {
  width: 31.66666666666vw;
  height: 5.46875vh;
  padding: 0 0 0 16px;
  border-radius: 6px;
  border: solid 1px #dcdce7;
  background-color: white;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: black;
  outline: none;
}

.domain {
  width: 8.333333333333vw;
  margin-left: -8.3vw;
  border: solid 1px #dcdce7;
  background-color: #f2faff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  position: relative;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  outline: none;
  bottom: 14px;
  font-size: 14px;
  height: 3.8vh;
  padding-top: 16px;
}

.note {
  height: 1.7578125vh;
  flex-grow: 0;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #45536c;
  margin-top: -2vh;
  margin-left: 5.3978888888888888888888888888889vw;
  margin-bottom: 2.44140625vh;
  text-align: left;
}

.passwordField {
  width: 31.66666666666vw;
  height: 5.46875vh;
  padding: 0 0 0 16px;
  border-radius: 6px;
  border: solid 1px #dcdce7;
  background-color: white;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: black;
  outline: none;
  margin-bottom: 20px;
}

.confirmPasswordField {
  width: 31.66666666666vw;
  height: 5.46875vh;
  padding: 0 0 0 16px;
  border-radius: 6px;
  border: solid 1px #dcdce7;
  background-color: white;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: black;
  outline: none;
}
.show {
  margin-left: -38px;
  position: relative;
  right: 24px;
  width: 37px;
  height: 19px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1565d8;
  cursor: pointer;
  border: none;
  background-color: white;
}

.nextBtn {
  position: relative;
  width: 32.7vw;
  height: 6.25vh;
  border: none;
  border-radius: 6px;
  background-color: #1b73d1;
  flex-grow: 0;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: white;
  margin-top: 3.125vh;
}

.safeMessage {
  display: flex;
  justify-content: center;
  gap: 0.5555555555555555555555vw;
}

.icon {
  object-fit: contain;
  width: 14px;
  height: 14px;
  margin-top: 13px;
}

.info {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #45536c;
}
::placeholder {
  color: #8692a6;
}

@media only screen and (min-width: 1441px) {
  .registerForm {
  }

  .registerFormTitle {
    font-size: 34px;
  }

  .normalText {
    font-size: 20px;
  }

  .userName {
  }
  .userField {
    font-size: 16px;
  }

  .domain {
    font-size: 16px;
    bottom: 16.5px;
  }
}

@media only screen and (max-width: 1112px) {
  .registerForm {
    width: 60.194444444444vw;
    margin-left: 20%;
  }
  .registerFormTitle {
    font-size: 30px;
  }

  .normalText {
    font-size: 14px;
  }

  .userField {
    width: 60%;
    font-size: 14px;
  }

  .domain {
    display: flex;
    height: 5.5vh;
    padding: 0 0 0 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    bottom: 14px;
  }
  .note {
    margin-left: 18.5%;
  }

  .passwordField {
    width: 60.5%;
    font-size: 14px;
  }

  .confirmPasswordField {
    width: 60.5%;
    font-size: 14px;
  }

  .nextBtn {
    width: 63.5%;
    font-size: 16px;
  }
}

@media only screen and (max-width: 1030px) {
  .registerForm {
    width: 100vw;
    margin-left: 0%;
    margin-top: 8%;
  }
  .registerFormTitle {
    font-size: 30px;
  }

  .normalText {
    font-size: 18px;
  }

  .userField {
    width: 60%;
    font-size: 14px;
  }

  .domain {
    display: flex;
    height: 5.5vh;
    padding: 0 0 0 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 14%;
    font-size: 14px;
    bottom: 14px;
  }
  .note {
    margin-left: 16.2%;
  }

  .passwordField {
    width: 66.3%;
    font-size: 14px;
  }

  .confirmPasswordField {
    width: 66.3%;
    font-size: 14px;
  }
  .show {
  }

  .nextBtn {
    width: 68.5%;
    font-size: 16px;
  }

  .safeMessage {
  }

  .icon {
  }

  .info {
  }
}

@media only screen and (max-width: 765px) {
  body {
    background-image: none;
  }
  .registerForm {
    width: 100vw;
    margin-left: 0%;
    margin-top: -6%;
    border: none;
  }
  .registerFormTitle {
    font-size: 20px;
    text-align: left;
    margin-left: 5vw;
  }

  .normalText {
    font-size: 14px;
    text-align: left;
    margin-left: 5vw;
  }

  .userField {
    width: 63%;
    font-size: 14px;
  }

  .domain {
    display: flex;
    width: 32%;
    height: 5.5vh;
    padding: 0 0 0 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    bottom: 14.1px;
    font-weight: normal;
    margin-bottom: 2vh;
  }
  .note {
    margin-left: 5.2%;
    height: 3vh;
    font-size: 12px;
    margin-bottom: 1.5vh;
  }

  .passwordField {
    width: 87.3%;
    font-size: 14px;
  }

  .confirmPasswordField {
    width: 87.3%;
    font-size: 14px;
  }

  .passwordField:focus {
    outline: solid 1px #445da7;
  }

  .confirmPasswordField:focus {
    outline: solid 1px #445da7;
  }

  .nextBtn {
    width: 90.8%;
    font-size: 16px;
  }
  .icon {
    object-fit: contain;
    width: 14px;
    height: 14px;
    margin-top: 13px;
  }

  .info {
    font-size: 12px;
  }
}
