.register-container {
  display: flex;
  height: 100vh;
}

.registerForm {
  width: 622px;
  border: solid 1px #dcdce7;
  background-color: #ffffff;
  padding-top: 56px;
  padding-bottom: 56px;
  border-radius: 6px;
  margin: auto;
}

.registerFormTitle {
  width: 495px;
  height: 48px;
  margin: 0 64px 4px;
  font-family: "Poppins";
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.normalText {
  width: 377px;
  height: 28px;
  margin: 4px 125px 0 120px;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #45536c;
}

.userName {
  display: flex;
  margin-left: 83px;
  margin-top: 32px;
}
.userField {
  width: 456px;
  height: 56px;
  padding: 0 0 0 16px;
  border-radius: 6px;
  border: solid 1px #dcdce7;
  background-color: white;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: black;
  outline: none;
}

.domain {
  width: 88px;
  height: 19px;
  margin: 0 0 0 252px;
  padding: 19px 16px 18px;
  margin-left: -120px;
  border: solid 1px #dcdce7;
  background-color: #f2faff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  position: relative;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  outline: none;
}

.note {
  width: 351px;
  height: 18px;
  margin-top: 8px;
  margin-left: 83px;
  margin-bottom: 0px;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #45536c;
}

.passwordField {
  width: 456px;
  height: 56px;
  padding: 0 0 0 16px;
  margin: 25px 0 20px;
  border-radius: 6px;
  margin-left: 83px;
  border: solid 1px #dcdce7;
  background-color: white;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: black;
  outline: none;
}

.confirmPasswordField {
  width: 456px;
  height: 56px;
  padding: 0 0 0 16px;
  border-radius: 6px;
  margin-left: 83px;
  border: solid 1px #dcdce7;
  background-color: white;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: black;
  outline: none;
}
.show {
  margin-left: -38px;
  position: relative;
  right: 24px;
  width: 37px;
  height: 19px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1565d8;
  cursor: pointer;
  border: none;
  background-color: white;
}

.nextBtn {
  width: 473px;
  height: 64px;
  border: none;
  border-radius: 6px;
  background-color: #1b73d1;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: white;
  margin-top: 32px;
  margin-left: 83px;
}

.safeMessage {
  display: flex;
  justify-content: center;
  gap: 0.5555555555555555555555vw;
}

.icon {
  object-fit: contain;
  width: 14px;
  height: 14px;
  margin-top: 13px;
}

.info {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #45536c;
}
::placeholder {
  color: #8692a6;
}

@media only screen and (min-width: 1441px) {
  .registerForm {
    width: 820px;
  }

  .registerFormTitle {
    font-size: 38px;
    width: 700px;
    text-align: center;
  }

  .normalText {
    width: 590px;
    font-size: 21px;
    text-align: center;
  }

  .userName {
    margin-left: 0px;
    justify-content: center;
  }
  .userField {
    width: 520px;
  }

  .domain {
    width: 114px;
    margin-left: -130px;
    padding-right: 0px;
  }

  .note {
    width: 450px;
    font-size: 13px;
    margin-left: 92px;
    text-align: center;
  }

  .passwordField {
    width: 521px;
    margin-left: 140px;
  }

  .confirmPasswordField {
    width: 521px;
    margin-left: 140px;
  }

  .nextBtn {
    width: 540px;
    margin-left: 140px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    background-image: none;
  }
  .register-container {
    margin: 0px;
  }
  .registerForm {
    padding-top: 0px;
    margin: 0;
    margin-top: 24px;
    border: none;
  }
  .registerFormTitle {
    width: 338px;
    height: 30px;
    margin: 0px;
    margin: 0 20px 8px;
    font-size: 20px;
    text-align: left;
  }

  .normalText {
    font-size: 14px;
    text-align: left;
    margin: 0 20px 24px;
  }

  .userField {
    width: 63%;
    font-size: 14px;
  }

  .domain {
    display: flex;
    width: 32%;
    height: 5.5vh;
    padding: 0 0 0 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    bottom: 14.1px;
    font-weight: normal;
    margin-bottom: 2vh;
  }
  .note {
    margin-left: 5.2%;
    height: 3vh;
    font-size: 12px;
    margin-bottom: 1.5vh;
  }

  .passwordField {
    width: 87.3%;
    font-size: 14px;
  }

  .confirmPasswordField {
    width: 87.3%;
    font-size: 14px;
  }

  .passwordField:focus {
    outline: solid 1px #445da7;
  }

  .confirmPasswordField:focus {
    outline: solid 1px #445da7;
  }

  .nextBtn {
    width: 90.8%;
    font-size: 16px;
  }
  .icon {
    object-fit: contain;
    width: 14px;
    height: 14px;
    margin-top: 13px;
  }

  .info {
    font-size: 12px;
  }
}
