.recoveryForm {
  width: 43.194444444444vw;
  height: 53.41796875vh;
  border: solid 1px #dcdce7;
  background-color: #ffffff;
  margin-top: 12.20703125vh;
  margin-left: 28.40277777778vw;
  padding-top: 2.46875vh;
  padding-bottom: 5.46875vh;
  border-radius: 1vh;
}

.title {
  display: flex;
  width: 23.402777777777vw;
  height: 9.6875vh;
  font-size: 2.222222222222vw;
  margin-left: 9.86111111111vw;
}
.recoveryFormTitle {
  font-family: "Poppins";
  text-shadow: 0px 0px, 1px 0px, 0px 0px;
  font-stretch: normal;
  font-weight: bold;
  color: #1b1616;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.recoveryFormSubtitle {
  height: 2.734375vh;
  font-family: "Poppins";
  font-size: 1.25vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #41b48b;
  margin-left: 5.0694444444444vw;
  margin-top: 0.390625vh;
}

.recoveryFormSubtitle2 {
  height: 2.34375vh;
  flex-grow: 0;
  font-family: "Poppins";
  font-size: 1.111111111111vw;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-top: 4.125vh;
  margin-left: 5.7638888888888888vw;
}

.buttonContainer {
  display: flex;
  gap: 1.11111111111111111111vw;
  margin-left: 5.7638888888888888vw;
  margin-top: 1.5625vh;
}

.email {
  border-style: solid;
  width: 15.2777777777777vw;
  height: 8.203125vh;
  border-radius: 0.7vh;
  border-color: white;
  display: flex;
}

.phone {
  border-style: solid;
  width: 15.2777777777777vw;
  height: 8.203125vh;
  border-radius: 0.7vh;
  border-color: white;
  display: flex;
}

.imgBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5vw;
  height: 3.515625vh;
  border-radius: 4px;
  margin-left: 1.944444444444vw;
  margin-top: 2.34375vh;
}

.text {
  height: 24px;
  flex-grow: 0;
  margin: 2.90734375vh 0 0px 0.90277777777vw;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.recoveryInput {
  width: 30.986111111111111111111111111111vw;
  height: 5.46875vh;
  border-radius: 0.7vh;
  font-family: "Poppins";
  font-size: 14px;
  border: solid 1px #dcdce7;
  outline: none;
  margin-top: 1.953125vh;
  margin-left: 5.7638888888888888vw;
  padding-left: 17px;
}

.nextBtn {
  position: relative;
  width: 32.7vw;
  height: 6.25vh;
  border: none;
  border-radius: 0.5vh;
  background-color: #1b73d1;
  flex-grow: 0;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: white;
  margin-top: 3.125vh;
  margin-left: 5.7638888888888888vw;
}

.endText {
  height: 19px;
  flex-grow: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9722222222222vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #45536c;
  margin-left: 5.7638888888888888vw;
}

::placeholder {
  color: #8692a6;
}
